## Importing Library

In [4]:
import pandas as pd
import numpy as np

## Import files

In [6]:
# read the file (1-hr based)
gold_df = pd.read_csv('./gold_price_daily.csv')
SP_df = pd.read_csv('./S&P_500_daily.csv')
DJI_df = pd.read_csv('./Dow_Jones_daily.csv')
EUR_df =  pd.read_csv('./USD_EUR_daily.csv')
INR_df = pd.read_csv('./USD_INR_daily.csv')
CNY_df = pd.read_csv('./USD_CNY_daily.csv')
JPY_df = pd.read_csv('./USD_JPY_daily.csv')
GBP_df = pd.read_csv('./USD_GBP_daily.csv')
crude_oil_df = pd.read_csv('./Crude_oil_daily.csv')

In [7]:
gold_df.shape, SP_df.shape, DJI_df.shape, EUR_df.shape, INR_df.shape, CNY_df.shape, JPY_df.shape, GBP_df.shape, crude_oil_df.shape

((2516, 7),
 (2518, 7),
 (2518, 7),
 (2608, 7),
 (2608, 7),
 (2607, 7),
 (2608, 7),
 (2608, 7),
 (2517, 7))

In [16]:
gold_df

,Date,Adj Close,Close,High,Low,Open,Volume
0,NaN,GC=F,GC=F,GC=F,GC=F,GC=F,GC=F
1,2014-12-09,1231.5,1231.5,1238.0,1202.0,1202.0,314
2,2014-12-10,1228.9000244140625,1228.9000244140625,1234.5999755859375,1226.5999755859375,1231.199951171875,306
3,2014-12-11,1225.0999755859375,1225.0999755859375,1231.199951171875,1216.199951171875,1226.5999755859375,264
4,2014-12-12,1222.0,1222.0,1227.800048828125,1216.199951171875,1227.800048828125,203
...,...,...,...,...,...,...,...
2511,2024-12-03,2644.699951171875,2644.699951171875,2654.699951171875,2636.0,2639.0,1062
2512,2024-12-04,2653.800048828125,2653.800048828125,2658.300048828125,2637.0,2639.199951171875,249
2513,2024-12-05,2626.60009765625,2626.60009765625,2655.0,2625.699951171875,2652.39990234375,573
2514,2024-12-06,2638.60009765625,2638.60009765625,2643.10009765625,2617.5,2620.199951171875,573
2515,2024-12-09,2671.89990234375,2671.89990234375,2650.800048828125,2630.800048828125,2632.10009765625,44762

In [18]:
# Merge the dataframe with only 'close' column, merge on the 'Date'
name_for_column  = {'gold price' : gold_df, 
                    'S&P500': SP_df,
                    'DowJones': DJI_df,
                    'eur': EUR_df,
                    'inr': INR_df,
                    'cny': CNY_df,
                    'jpy': JPY_df,
                    'gbp': GBP_df,
                    'oil price': crude_oil_df
                   }

# Creat an empty dataframe
merged_df = None

for name, df in name_for_column.items():
    # Select only columns 'Date' and 'Close'
    n_df = df[['Date', 'Close']]

    # Rename the column
    n_df = n_df.rename(columns={'Close':name})

    # Merging dataframe
    if merged_df is None:
        # If it's the first dataframe
        merged_df = n_df
    else:
        # Merge with the existing merged dataframe (by keeping the common Date)
        merged_df = pd.merge(merged_df, n_df, on='Date', how='inner')

In [20]:
merged_df.head(2)

,Date,gold price,S&P500,DowJones,eur,inr,cny,jpy,gbp,oil price
0,NaN,GC=F,^GSPC,^DJI,EUR=X,INR=X,CNY=X,JPY=X,GBP=X,CL=F
1,2014-12-09,1231.5,2059.820068359375,17801.19921875,0.8120099902153015,61.81800079345703,6.163000106811523,120.6500015258789,0.6389099955558777,63.81999969482422

In [22]:
merged_df.isnull().sum()

Date          1
gold price    0
S&P500        0
DowJones      0
eur           0
inr           0
cny           0
jpy           0
gbp           0
oil price     0
dtype: int64

In [24]:
# Drop nan values, as that row is not going to be used 
merged_df.dropna(inplace=True)

In [26]:
# Converting the data object into float64 for further calculation
columns_to_convert = ['gold price', 'S&P500', 'DowJones', 'eur', 'inr', 'cny', 'jpy', 'gbp', 'oil price']
merged_df[columns_to_convert] = merged_df[columns_to_convert].astype(np.float64)

In [34]:
# Converting the Date into Date 
merged_df['Date'] = pd.to_datetime(merged_df['Date'])

In [38]:
# Saving the dataframe
merged_df.to_csv('quanti_df_daily.csv', index=False)