## Importing Library

In [122]:
import pandas as pd
import numpy as np

## Import files

In [59]:
# read the file (1-hr based)
gold_df = pd.read_csv('./gold_price_hourly.csv')
SP_df = pd.read_csv('./S&P_500_hourly.csv')
DJI_df = pd.read_csv('./Dow_Jones_hourly.csv')
EUR_df =  pd.read_csv('./USD_EUR_hourly.csv')
INR_df = pd.read_csv('./USD_INR_hourly.csv')
CNY_df = pd.read_csv('./USD_CNY_hourly.csv')
JPY_df = pd.read_csv('./USD_JPY_hourly.csv')
GBP_df = pd.read_csv('./USD_GBP_hourly.csv')
crude_oil_df = pd.read_csv('./Crude_oil_hourly.csv')

In [134]:
gold_df.shape, SP_df.shape, DJI_df.shape, EUR_df.shape, INR_df.shape, CNY_df.shape, JPY_df.shape, GBP_df.shape, crude_oil_df.shape

((11525, 2),
 (3506, 7),
 (3506, 7),
 (12417, 7),
 (10497, 7),
 (9588, 7),
 (12345, 7),
 (12417, 7),
 (11259, 7))

In [96]:
# Merge the dataframe with only 'close' column, merge on the 'Datetime'
name_for_column  = {'gold price' : gold_df, 
                    'S&P500': SP_df,
                    'DowJones': DJI_df,
                    'eur': EUR_df,
                    'inr': INR_df,
                    'cny': CNY_df,
                    'jpy': JPY_df,
                    'gbp': GBP_df,
                    'oil price': crude_oil_df
                   }

# Creat an empty dataframe
merged_df = None

for name, df in name_for_column.items():
    # Select only columns 'Datetime' and 'Close'
    n_df = df[['Datetime', 'Close']]

    # Rename the column
    n_df = n_df.rename(columns={'Close':name})

    # Merging dataframe
    if merged_df is None:
        # If it's the first dataframe
        merged_df = n_df
    else:
        # Merge with the existing merged dataframe (by keeping the common datetime)
        merged_df = pd.merge(merged_df, n_df, on='Datetime', how='inner')

In [104]:
merged_df.head(2)

,Datetime,gold price,S&P500,DowJones,eur,inr,cny,jpy,gbp,oil price
0,NaN,GC=F,^GSPC,^DJI,EUR=X,INR=X,CNY=X,JPY=X,GBP=X,CL=F
1,2022-12-06 14:00:00+00:00,1786.5999755859375,3961.0,33765.48828125,0.9521999955177307,82.4000015258789,6.985000133514404,136.52499389648438,0.8206999897956848,76.66999816894531

In [102]:
merged_df.isnull().sum()

Datetime      1
gold price    0
S&P500        0
DowJones      0
eur           0
inr           0
cny           0
jpy           0
gbp           0
oil price     0
dtype: int64

In [110]:
# Drop nan values, as that row is not going to be used 
merged_df.dropna(inplace=True)

In [124]:
# Converting the data object into float64 for further calculation
columns_to_convert = ['gold price', 'S&P500', 'DowJones', 'eur', 'inr', 'cny', 'jpy', 'gbp', 'oil price']
merged_df[columns_to_convert] = merged_df[columns_to_convert].astype(np.float64)

In [136]:
# Converting the datetime into datetime 
merged_df['Datetime'] = pd.to_datetime(merged_df['Datetime'])

In [140]:
# Saving the dataframe
merged_df.to_csv('quanti_df.csv', index=False)